form {
    margin-top: 0;
    width: 100%;
}

.chakra-collapse {
    margin-top: 0 !important;
    width: 100%;
}

.description {
    white-space: pre-line;
}

#preview {
    height: 11in;
    width: 8.5in;
    aspect-ratio: 8.5 / 11;
}

@media print {
    #preview {
        height: 11in;
        width: 8.5in;
        aspect-ratio: 8.5 / 11;
        border: 0px;
        box-shadow: 0;
    }
}